.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: var(--blue-1);
}

.header {
	flex-shrink: 0;
	padding: 0 20px;
	height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light-2);
	background: var(--dark-1);

	.new_button {
		padding: 6px 16px;
		border-radius: 6px;
		border: none;
		background: var(--blue-2);
		color: var(--white);
		cursor: pointer;
		font-size: 14px;
		font-weight: 500;

		&:hover {
			background: var(--blue-3);
		}
	}
}

.main {
	flex: 1;
	min-height: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
