.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: var(--blue-1);
}

.header {
	flex-shrink: 0;
	padding: 0 20px;
	height: 52px;
	display: flex;
	align-items: center;
	color: var(--light-2);
	background: var(--dark-1);
}

.main {
	flex: 1;
	min-height: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
