:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

:root {
	--light-1: rgba(255, 255, 255, 0.75);
	--light-2: #f1f5fa;
	--blue-1: rgba(47, 127, 239, 0.1);
	--dark-1: #2d3a55;
	--dark-2: #354761;
}
